version: "3"

services:
  minecraft-java-server:
    image: itzg/minecraft-server:java8
    container_name: minecraft-java-server
    restart: "no"
    volumes:
      - ../dev/minecraft-java:/data
    ports:
      - 25566:25565/tcp
    environment:
      EULA: "TRUE"
      VERSION: "1.12.2"
    networks:
      - infrared
    labels:
      - infrared.java.servers.devserver.gateways=[default]
      - infrared.java.servers.devserver.domains=[localhost]
      - infrared.java.servers.devserver.address=:25566
      - infrared.java.servers.devserver.overrideStatus.motd=Docker Lables

  minecraft-bedrock-server:
    image: itzg/minecraft-bedrock-server:latest
    container_name: minecraft-bedrock-server
    restart: "no"
    volumes:
      - ../dev/minecraft-bedrock:/data
    ports:
      - 19133:19132/udp
    environment:
      EULA: "TRUE"
    networks:
      - infrared
    labels:
      - infrared.bedrock.servers.devserver.gateways=[default]
      - infrared.bedrock.servers.devserver.domains=[192.168.1.69]
      - infrared.bedrock.servers.devserver.address=:19133

networks:
  infrared:
    name: infrared
