version: "3"

services:
  minecraft-java-server:
    image: itzg/minecraft-server:java17
    container_name: infrared-dev-paper-server
    restart: "no"
    volumes:
      - ../.dev/paper:/data
    ports:
      - 25566:25565/tcp
    environment:
      EULA: "TRUE"
      VERSION: "1.20.1"
      TYPE: PAPER
    networks:
      - infrared
    labels:
      - infrared.java.servers.devserver.gateways=[default]
      - infrared.java.servers.devserver.domains=[*]
      - infrared.java.servers.devserver.address=:25566

  haproxy:
    image: haproxy
    container_name: infrared-dev-haproxy
    networks:
      - infrared
    volumes:
      - ../.dev/haproxy:/usr/local/etc/haproxy:ro
    sysctls:
      - net.ipv4.ip_unprivileged_port_start=0
    ports:
      - 25567:25565/tcp

  redis:
    image: redis
    container_name: infrared-dev-redis
    ports:
      - 6379:6379/tcp
    networks:
      - infrared

networks:
  infrared:
    name: infrared
